{{#each this}}
<li>
    <div class="card-poster">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="Image {{title}}">
    </div>
    <div class="stats">
        <h2 class="card-title">{{title}}</h2>
        <div>
            <p class="stats-item">{{genre_ids}}</p>
            <p class="stats-item">{{release_date}}</p>
            <p class="stats-item">{{vote_average}}</p>
        </div>
    </div>
</li>
{{/each}}
{{!-- <ul class="card-list--countries">
    {{#each this}}
    <li class="card-item--country">{{name}}</li>
    {{/each}}
</ul> --}}