{{#each this}}
<li>
    <div class="card-poster">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="Image {{title}}">
    </div>
    <div class="stats">
        <h2 class="stats-title">{{title}}</h2>
        <div>
            <ul class="stats-list">
                <li class="stats-item">{{genre_ids}}</li>
                <li class="stats-item">{{release_date}}</li>
                <li class="stats-item">{{vote_average}}</li>
            </ul>
        </div>
    </div>
</li>
{{/each}}