{{#each this}}
  <li class='item' id="item-dt">
    <a class='link' href='#' id={{id}}>
      <div class='video-card'>
        <img
          class='gallery__video'
          src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
          data-source='{{id}}'
        />
        <span class='video-rating'></span>
      </div>
      <h2 class='video-title' id="video-title-dt">{{original_title}} </h2>
      <div>
        <span class="video__details">{{genres}} | {{release_date}}</span>
        <span class="video__vote">{{vote_average}}</span>
      </div>
    </a>
  </li>
{{/each}}