{{#each this}}
  <li class='item'>
    <a class='link' href='#' id={{id}}>
      <div class='video-card'>
        <img
          class='gallery__video'
          src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
          data-source='{{id}}'
        />
        <span class='video-rating'></span>
      </div>
      <h2 class='video-title'>{{original_title}} </h2>
      <div>
        {{genres}}
      </div>
    </a>
  </li>
{{/each}}