<ul class='movies__colection'>
  {{#each this}}
    <li class='movie-card'>
      <div class='movie-link'>
        <img
          data-id={{id}}
          class='movie-img'
          src='https://www.themoviedb.org/t/p/w500{{poster_path}}'
          alt='{{title}}'
        />
        <p class='movie-name'>{{title}} </p>
        <div class='movie__box'>
          <p class='movie-details'>{{genre_ids}}</p>
          <p class='movie-details'>{{release_date}}</p>
        </div>
      </div>
    </li>
  {{/each}}
</ul>