<div class="modal__card">
    <div class="modal__img-wrap">
        <img src='{{poster}}' alt="{{title}}" />
    </div>
    <div class="modal__text-content">
        <h2 class="modal__title">{{title}}</h2>
        <ul class="modal__list-info list">
            <li class="modal__list-item">
                <div class="modal__left-column">
                    <span class="modal__list-span">Vote</span>
                    <span class="modal__list-span">/</span>
                    <span class="modal__list-span">Votes</span>
                </div>
                <div class="modal__right-column">
                    <span class="modal__list-span--bg-vote">{{vote}}</span>
                    <span class="modal__list-span">/</span>
                    <span class="modal__list-span--bg-votes">{{votes}}</span>
                </div>
            </li>
            <li class="modal__list-item">
                <div class="modal__left-column">Popularity</div>
                <div class="modal__right-column">{{popularity}}</div>
            </li>
            <li class="modal__list-item">
                <div class="modal__left-column">Original Title</div>
                <div class="modal__right-column">
                    <span class="modal__original-title">{{name}}</span>
                </div>
            </li>
            <li class="modal__list-item">
                <div class="modal__left-column">Genre</div>
                <div class="modal__right-column"><span class="modal__movie-genre">{{genre}}</span></div>
            </li>
        </ul>
        <div class="modal__description">
            <h3 class="modal__description-title">ABOUT</h3>
            <p class="modal__description-text">{{about}}</p>
        </div>
        <div class="modal__buttons">
            <button type="button" class="btn-in-modal" data-category="watched"></button>
            <button type="button" class="btn-in-modal" data-category="queue"></button>
        </div>
    </div>
</div>