<button id='video-title-dt' type='button' class='modal__close-btn'></button>
{{#if poster_path}}
  <img
    class='modal-card__img'
    src='https://image.tmdb.org/t/p/w500{{poster_path}}'
    data-source='{{id}}'
    alt='{{title}}'
    onload='loader.onCardLoaded()'
    onerror='loader.onCardLoaded()'
  />
{{else}}
  <img
    class='gallery__video'
    src='https://bookslibs.info/assets/general/images/no_poster.jpg'
    data-source='{{id}}'
    onload='loader.onCardLoaded()'
    onerror='loader.onCardLoaded()'
  />
{{/if}}
<div class='modal-card__wrapper'>
  <h2 id='video-title-dt' class='modal-card__title'>{{title}}</h2>
  <div class='modal-card__stats-wrapper'>
    <div class='modal-card__stats-wrapper1'>
      <ul class='modal-card__list'>
        <li class='modal-card__item'>Vote / Votes</li>
        <li class='modal-card__item'>Popularity</li>
        <li class='modal-card__item'>Original title</li>
      </ul>
    </div>
    <div class='modal-card__stats-wrapper2'>
      <ul class='modal-card__list'>
        <li id='video-title-dt' class='modal-card__data'>
          <span class='modal-card__data--vote'>{{vote_average}}</span><span
            class='modal-card__item'
          > / </span><span
            class='modal-card__data--vote modal-card__data--vote-count'
          >{{vote_count}}</span>
        </li>
        <li id='video-title-dt' class='modal-card__data'>{{popularity}}</li>
        <li
          id='video-title-dt'
          class='modal-card__data modal-card__data-title'
        >{{original_title}}</li>
      </ul>
    </div>
  </div>
  <div class='genre__wrapper'>
    <p class='modal-card__item modal-card__item--genre'>Genre</p>
    {{#if genres}}
      <p class='modal-card__data-genre'>
        {{#each genres}}
          <span id='video-title-dt' class='cardItem__genre-data'>{{this.name}}</span>
        {{/each}}
      </p>
    {{/if}}
  </div>

  <p id='video-title-dt' class='modal-card__description-title'>ABOUT</p>
  <p id='video-title-dt' class='modal-card__description'>{{overview}}</p>
  <div class='modal-card__btn'>
    <button
      type='button'
      data-id='{{id}}'
      id='btn-dark-theme'
      class='button-white watchedBtn-js'
    >add to Watched</button>
    <button type='button' data-id='{{id}}' id='btn-dark-theme' class='button-white queueBtn-js'>add
      to queue</button>
    <button type='button' data-id='{{id}}' id='btn-dark-theme' class='button-white video-js'>watch
      trailer</button>
  </div>
</div>