<div class='modal__thumb'>
  <img
    class='modal__image'
    src='https://image.tmdb.org/t/p/original{{poster_path}}'
    alt='{{title}}'
  />
</div>

<div class='modal__info'>

  <h2 class='modal__title'>{{title}}</h2>

  <div class='modal__wrapper'>
    <ul class='modal__properties'>
      <li class='modal__item'>Vote / Votes</li>
      <li class='modal__item'>Popularity</li>
      <li class='modal__item'>Original Title</li>
      <li class='modal__item'>Genre</li>
    </ul>
    <ul class='modal__values'>
      <li class='modal__item'><span class='modal__values--color'>{{vote_average}}</span>/
        {{vote_count}}</li>
      <li class='modal__item'>{{popularity}}</li>
      <li class='modal__item original_title'>{{original_title}}</li>
      <li class='modal__item'>{{genre_ids}}</li>
    </ul>
  </div>

  <p class='modal__subtitle'>ABOUT</p>
  <p class='modal__text'>{{overview}}</p>

  <div class='modal__button-list'>
    <div>
      <button type='submit' class='modal__button watched'>add to watched</button>
    </div>

    <div>
      <button type='submit' class='modal__button queue modal__button--active'>add to queue</button>
    </div>

  </div>

  <button class='button-close' data-modal-close>
    <svg class='button-close--size'>
      <use class='button-close--color' href='./images/icons.svg#icon-close'></use>
    </svg>
  </button>
</div>