<li>
    <div class="card-movie">
        <div class="card-poster">
            <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}">
        </div>
        <div class="stats">
            <h2 class="stats-title">{{title}}</h2>
            <div>
                <ul>
                    <li class="stats-item">Vote / Votes {{vote_average}} / {{vote_count}}</li>
                    <li class="stats-item">Popularity {{popularity}}</li>
                    <li class="stats-item">Original Title {{original_title}}</li>
                    <li class="stats-item">Genre {{genre_ids}}</li>
                </ul>
                <h3 class="stats-about">About</h3>
                <p class="stats-description">{{overview}}</p>
            </div>
        </div>
    </div>
</li>