<li>
    <div class="card-poster">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}">
    </div>
    <div class="stats">
        <h2 class="card-title">{{title}}</h2>
        <div>
            <p class="stats-item">Vote / Votes {{vote_average}} / {{vote_count}}</p>
            <p class="stats-item">Popularity {{popularity}}</p>
            <p class="stats-item">Original Title {{original_title}}</p>
            <p class="stats-item">Genre {{genre_ids}}</p>
            <p class="stats-item">About</p>
            <p class="stats-item">{{overview}}</p>
        </div>
    </div>
</li>