<li class="movies__item" data-id="{{id}}">
    <img src='https://image.tmdb.org/t/p/original{{poster}}' alt="{{name}}" loading="lazy"
        width='274px' heigth='398px' />
    <div class="info">
        <p class="info-item">
            <b>{{name}}</b>
        </p>
        <p class="info-item">
            <b>{{genre}}</b>
        </p>
        <p class="info-item">
            <b>{{relise}}</b>
        </p>

    </div>
</li>