<li class="movies__item" data-id="{{id}}">
    <img class="movie-poster" src='https://image.tmdb.org/t/p/original{{poster}}' alt="{{name}}" loading="lazy"
        width='274px' heigth='398px' />
    <div class="info">
        <p class="info-name">
            <b>{{name}}</b>
        </p>
        <div class="info-location">
           <p class="info-genre">
            <b>{{genre}}</b>
           </p>
           <p class="info-relise">
            <b>{{release}}</b>
           </p>
        </div> 

    </div>
</li>