<div class="modal" data-id={{id}}>

    <button class="modal__button-close">&#10006;</button>

    <div class="modal_wrap">

        <div class="modal_thumb">
            <img class="modal_img" 
            {{#if poster_path}} 
            src='https://image.tmdb.org/t/p/w500{{poster_path}}' 
            {{else}}
            src="no-poster.png" 
            {{/if}} 
            alt="{{title}}" />
        </div>

        <div class="modal_inner">

            <h2 class="modal_title">{{title}}</h2>

            <table class="modal_table">
                <tbody>
                    <tr class="modal_item">
                        <td class="modal_subtitle">Vote / Votes</td>
                        <td class="modal_text">
                            <span class="modal_inner-rating">{{vote_average}}</span> /
                            <span class="modal_inner-votes">{{vote_count}}</span>
                        </td>
                    </tr>
                    <tr class="modal_item">
                        <td class="modal_subtitle">Popularity</td>
                        <td class="modal_text">{{popularity}}</td>
                    </tr>
                    <tr class="modal_item">
                        <td class="modal_subtitle">Original Title</td>
                        <td class="modal_text">{{title}}</td>
                    </tr>
                    <tr class="modal_item">
                        <td class="modal_subtitle">Genre</td>
                        <td class="modal_text">{{genre}}</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="modal_caption">About</h3>

            <p class="modal_desc">{{overview}}</p>
            
            <ul class="modal_list-button">
            <li class="modal_item-button"><button id="toWatch" class="modal_button">add to watched</button></li>
            <li class="modal_item-button"><button id="toQuequ" class="modal_button">add to queue</button></li>
            </ul>
        </div>
    </div>
</div>