{{#each this}}
<li class='movie__list-item card-set__item' data-id={{id}}>
    <div class='movie__one-card'>
        <div class='movie__thumb'>
            <div class='movie__thumb-img'>
                <img class='movie__img' src={{posterUrl}} alt={{title}} id='{{id}}' />
            </div>
            <div class='movie__title-thumb'>
                <h4 class='movie__title'>{{title}}</h4>
                <div class='movie__box-description'>
                    <p class='movie__description'>{{stringDescription}}
                        <span class='movie__average'>{{vote_average}}</span>
                    </p> 
                </div>
            </div>
        </div>
    </div>
</li>
{{/each}}