<img class="popup-poster" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}"
	 data-id="{{id}}" />
<div class="popup-description">
	<h2 class="popup-title">{{title}}</h2>
	<table class="popup-info">
		<tr>
			<td class="info-title">Vote / Votes</td>
			<td><span class="vote-average">{{vote_average}}</span> / <span class="vote-count"></span>{{vote_count}}</td>
		</tr>
		<tr>
			<td class="info-title">Popularity</td>
			<td>{{popularity}}</td>
		</tr>
		<tr>
			<td class="info-title">Original Title</td>
			<td>{{original_title}}</td>
		</tr>
		<tr>
			<td class="info-title">Genre</td>
			<td>{{#each genres}} {{name}} {{/each}}</td>
		</tr>
	</table>

	<p class="popup-overview-title">About</p>
	<p class="popup-overview">{{overview}}</p>
	<div class="popup-buttons">
		<button class="button js-watched" type="button">add to Watched</button>
		<button class="button js-watched" type="button">add to queue</button>
	</div>
	</p>
</div>