<img class="popular-image" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}"
	 data-id="{{id}}" />
<div class="">
	<h2 class="description-title">{{title}}</h2>
	<p class="description-info">
		{{#each genre_ids}} {{name}} {{/each}}| {{release_date}}
	</p>
</div>
</li>

{{!-- https://gyazo.com/3b379587c5649d62b36e5e603f156e8b --}}

{{!-- src.e31bb0bc.js:2421 {adult: false, backdrop_path: "/wGCVMpsnvEDgoPRWTTxQaD0vUU1.jpg", belongs_to_collection: null,
budget: 0, genres: Array(1), …}
src.e31bb0bc.js:2421 {adult: false, backdrop_path: "/nfBT7RR8kYFBORhVhcCqk5T0ZiX.jpg", belongs_to_collection: null,
budget: 0, genres: Array(3), …}
src.e31bb0bc.js:2421 {adult: false, backdrop_path: "/wGCVMpsnvEDgoPRWTTxQaD0vUU1.jpg", belongs_to_collection: null,
budget: 0, genres: Array(1), …}
src.e31bb0bc.js:2421 {adult: false, backdrop_path: "/wGCVMpsnvEDgoPRWTTxQaD0vUU1.jpg", belongs_to_collection: null,
budget: 0, genres: Array(1), …}
src.e31bb0bc.js:2421 {adult: false, backdrop_path: "/wGCVMpsnvEDgoPRWTTxQaD0vUU1.jpg", belongs_to_collection: null,
budget: 0, genres: Array(1), …}adult: falsebackdrop_path: "/wGCVMpsnvEDgoPRWTTxQaD0vUU1.jpg"belongs_to_collection:
nullbudget: 0genres: [{…}]homepage: "https://www.netflix.com/title/81046378"id: 667869imdb_id:
"tt10627584"original_language: "it"original_title: "La vita davanti a sé"overview: "In seaside Italy, a Holocaust
survivor with a daycare business takes in a 12-year-old street kid who recently robbed her."popularity:
24.136poster_path: "/jDc3O9m8ELHRRu1WXdTC5pCdC4n.jpg"production_companies: [{…}]production_countries: [{…}]release_date:
"2020-11-03"revenue: 0runtime: 94spoken_languages: (3) [{…}, {…}, {…}]status: "Released"tagline: "The bonds we forge can
change us forever."title: "The Life Ahead"video: falsevote_average: 7.2vote_count: 62__proto__: Object
src.e31bb0bc.js:2421 {adult: false, backdrop_path: "/fX8e94MEWSuTJExndVYxKsmA4Hw.jpg", belongs_to_collection: null,
budget: 0, genres: Array(3), …}adult: falsebackdrop_path: "/fX8e94MEWSuTJExndVYxKsmA4Hw.jpg"belongs_to_collection:
nullbudget: 0genres: (3) [{…}, {…}, {…}]homepage: ""id: 604822imdb_id: "tt9695722"original_language: "zh"original_title:
"急先锋"overview: "Covert security company Vanguard is the last hope of survival for an accountant after he is targeted by
the world's deadliest mercenary organization."popularity: 32.62poster_path:
"/vYvppZMvXYheYTWVd8Rnn9nsmNp.jpg"production_companies: (7) [{…}, {…}, {…}, {…}, {…}, {…}, {…}]production_countries:
[{…}]release_date: "2020-09-30"revenue: 27900000runtime: 107spoken_languages: (3) [{…}, {…}, {…}]status:
"Released"tagline: ""title: "Vanguard"video: falsevote_average: 6vote_count: 4__proto__: Object --}}