{{#each this}}
  <li class='slider-card' data-action='{{id}}'>
    {{!-- <div class='btn-id'>
      <button data-id='{{id}}' class='btn-youtube-slider'>
        <div class='overlay-btn-youtube-text' data-id='{{id}}'>
          <h2 class='btn-youtube-text-slider' data-id='{{id}}'>Trailer</h2>
        </div>
      </button>

    </div> --}}
    <a class='link' href='#'>
      {{#if poster_path}}
        <img
          class='slider__image'
          src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
          data-source='{{id}}'
          alt='{{title}} {{name}}'
          onload='loader.onCardLoaded()'
          ,
          onerror='loader.onCardLoaded()'
        />
      {{else}}
        <img
          class='slider__image'
          src='https://bookslibs.info/assets/general/images/no_poster.jpg'
          data-source='{{id}}'
          alt='{{title}} {{name}}'
          onload='loader.onCardLoaded()'
          ,
          onerror='loader.onCardLoaded()'
        />
      {{/if}}
    {{!-- <span class='rating-slider'>{{vote_average}}</span> --}}
  </li>
{{/each}}