<div class="team-modal">
    <ul class="team-card-list">
        {{#each this}}
        <li class="team-card-list-item">
            <img src="{{foto}}" alt="Foto{{name}}" class="team-card-list-img">
            <h2 class="team-name">{{name}}</h2>
            <p class="team-discription">{{role}}</p>
            <a class="team-contact link" href="mailto:{{mail}}">{{mail}}</a>
        </li>
    {{/each}}
    </ul>
</div>