
{{#each this}}
<li class='item' id='item-dt'>
  <a class='link' href='#'>
    <button type='button' class='delete-btn'></button>
    <div class='video-card'>
      {{#if poster_path}}
      <img 
        class='gallery__video' 
        src='https://image.tmdb.org/t/p/w300/{{poster_path}}' 
        data-source='{{id}}'
        onload="loader.onCardLoaded()"
        onerror="loader.onCardLoaded()"/>
      {{else}}
      <img 
        class='gallery__video' 
        src='https://bookslibs.info/assets/general/images/no_poster.jpg' 
        data-source='{{id}}'
        onload="loader.onCardLoaded()"
        onerror="loader.onCardLoaded()" />
      {{/if}}
      <span class='video-rating'></span>
    </div>
    <h2 class='video-title' id='video-title-dt'>{{original_title}} </h2>
    <div>
      {{#if genres}}
      <span class='video__details'>{{genres}} | {{release_date}}</span>
      <span class='video__vote'>{{vote_average}}</span>
    </div>
    </div>
  </a>
</li>
{{/if}}
{{/each}}