<div class="card-body">
        <h1 class="country-name">
             {{name}}
        </h1>
        <div class="country-content">
            <div class="country-description">
                <ul class="description-list">
                    <li class="description-item">Capital: {{capital}}</li>
                    <li class="description-item">Population: {{population}}</li>
                    <li class="description-item">Languages:
                        <ul class="description-item languages-list">
                                {{#each languages}}
                            <li class="languages-item">{{name}}</li>
                                {{/each}}
                        </ul>
                    </li>
            </div>
            <div class="country-img">
                <img src="{{flag}}" alt="{{nativeName}}" width="640">
            </div>
        </div>
</div>

